body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
    background: #000;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: calc(100% - 80px);
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 90px;
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#dynamic-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-content {
    text-align: center;
    z-index: 1;
}

.hero-content h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
    color: #15f1f8;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 30px;
    color: #fe293d;
    font-weight: 300;
}

.cta-btn {
    padding: 10px 20px;
    background-color: #15f1f8;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

#about {
    padding: 100px 20px;
    background: #333;
    text-align: center;
    background-attachment: fixed;
    background-image: url('/assets/about.jpg');
    background-size: cover;
    background-position: center;
}

#about h2 {
    margin-bottom: 50px;
    font-size: 36px;
    color: #15f1f8;
    font-weight: bold;
    text-transform: uppercase;
}

#about p {
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
}

.team-section {
    margin-top: 50px;
}

.team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member h4 {
    color: #fe293d;
    font-size: 22px;
}

.team-member p {
    color: #fe293d;
    font-size: 18px;
}

#services {
    padding: 100px 20px;
    background: #1a1a1a;
    text-align: center;
}

#services h2 {
    margin-bottom: 50px;
    font-size: 36px;
    color: #15f1f8;
    font-weight: bold;
    text-transform: uppercase;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    margin-bottom: 20px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.service img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.service h3 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #fe293d;
    font-weight: bold;
    text-transform: uppercase;
}

.service ul {
    list-style: none;
    padding-left: 0;
}

.service ul li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}

#testimonials {
    padding: 100px 20px;
    background: #000;
    text-align: center;
}

#testimonials h2 {
    margin-bottom: 50px;
    font-size: 36px;
    color: #15f1f8;
    font-weight: bold;
    text-transform: uppercase;
}

.testimonial-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonial {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    margin-bottom: 20px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.testimonial:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.testimonial p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}

.testimonial h4 {
    font-size: 20px;
    color: #fe293d;
    font-weight: bold;
    text-align: right;
}

#contact {
    padding: 100px 20px;
    background: #1a1a1a;
    text-align: center;
    color: #fff;
}

#contact h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #15f1f8;
    font-weight: bold;
    text-transform: uppercase;
}

#contact-info {
    margin-bottom: 30px;
    font-size: 18px;
    color: #fff;
}

form input, form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
}

form button {
    padding: 10px 20px;
    background-color: #15f1f8;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #13d2d6;
}

footer {
    padding: 20px;
    text-align: center;
    background: #333;
    color: #fff;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-links a,
.footer-social a {
    transition: color 0.3s ease;
    padding: 10px;
    color: #999;
}
.footer-links a:hover,
.footer-social a:hover {
    color: #fff;
}

.footer-logo p {
    margin: 0;
}

.footer-links {
    margin: 10px 0;
}


.footer-social {
    margin: 10px 0;
}

#cookie-popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 300px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
}

#cookie-popup #cookie-content {
    display: flex;
    flex-direction: column;
}

#cookie-popup p {
    margin: 0 0 10px 0;
    font-size: 14px;
}

#cookie-popup a {
    color: #15f1f8;
    text-decoration: underline;
}

#cookie-buttons {
    display: flex;
    justify-content: space-between;
}

#cookie-popup button {
    background-color: #15f1f8;
    color: #000;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#cookie-popup button:hover {
    background-color: #13d2d6;
}

#decline-cookies {
    background-color: #f15e5e;
}

#decline-cookies:hover {
    background-color: #e04e4e;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .burger {
        display: block;
    }

    .nav-active {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.9);
        right: 0;
        top: 60px;
        gap: 10px;
        width: 100%;
        height: calc(100vh - 60px);
        align-items: center;
        justify-content: center;
    }

    .services-container, .testimonial-container, .team-container {
        flex-direction: column;
        align-items: center;
    }

    .service, .testimonial, .team-member {
        width: 90%;
    }

    .team-member img {
        width: 100px;
        height: 100px;
    }
}

#our-work {
    padding: 100px 20px;
    background: #1a1a1a;
    text-align: center;
}

#our-work h2 {
    margin-bottom: 50px;
    font-size: 36px;
    color: #15f1f8;
    font-weight: bold;
    text-transform: uppercase;
}

.work-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.work-item {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.work-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.work-item img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.work-item h3 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #fe293d;
    font-weight: bold;
    text-transform: uppercase;
}

.work-item p {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
}

.work-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #15f1f8;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.work-link:hover {
    background-color: #0fb6c3;
}